<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/login" method="post">
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Name</span>
      <input type="text" class="form-control" placeholder="name" aria-label="Username" aria-describedby="basic-addon1">
        <span class="input-group-text" id="basic-addon2">Password</span>
        <input type="text" class="form-control" placeholder="password" aria-label="Username" aria-describedby="basic-addon1">
        <button type="submit" class="btn btn-light">Ok</button>
    </div>
</form>




</body>
</html>